# Node/React
node_modules/
frontend/dist

# Python
__pycache__/
venv/
.venv/
env/

# Environment Variables
.env

# Media & Databases
sample_database/
*.mp3

# AI Models (Too large for GitHub)
.deepface/