* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #0f0f12;
  /* Matches your PhotoEase dark mode */
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
}